.menu-mars.pegadito{ max-width: 55px; }
main.main{ padding-left: 55px }
.singleitem-resume-col{ padding-left: 20px; padding-right: 20px; }
.menu-mars.pegadito ul.dash-nav-modules{ height: auto; }
.login-tres .login-headings{
	max-width: 50%;
	width: 50%;
}